@charset "UTF-8";
.center-form{

justify-content: center;

display: flex;

margin: 40px 50px;

border: 3px solid blue;

padding: 30px;

background-color: rgb(208, 205, 248);

}

.form-center {
  width:400px;
  margin: 0 auto;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.button{
	background-color: #FFA500;
}
.button:active{
	background-color: #FFA500;
}
.button{
border: none;
padding: 15px;
color: rgb(50, 0, 54);
background-color: rgb(177, 110, 149);
border-radius: 15px;
}
.button:active{
background-color: #FFA500;
}